global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["127.0.0.1:9090"]

  - job_name: gotong-api
    metrics_path: /metrics
    static_configs:
      - targets: ["gotong-api:3100"]
